ion-button {
    --background: #34E17F;
    --border-color:  #13944B;
    --border-radius: 8px;

}

.alergia-btn{
    width: 100px;
    
    margin: 10px;
}
.boton{
    display: flex;
    justify-content: end;
    margin: 8px;
}